/* CSS selectors */

/* Селекторы соседних элементов (эл. одного уровня вложенности) */

/* p {
  color: darkblue;
} /*for all paragraphs*/

/* p + p {
  color: red;
} /*for all paragraphs, which are after another paragraphs*/

/* h2 + div {
  border: 3px solid green;
}

h2 + .test {
  font-style: italic;
} */
*/ .circles {
  box-sizing: border-box;
  height: 60vh;
  width: 20vw;
  margin-top: auto;
  padding: 20px;
  display: flex;

  flex-direction: row;
  align-self: center;
  background-color: darkmagenta;
  border-radius: 12px;
  align-items: flex-end;
}

.circle {
  width: 5vw;
  height: 5vw;

  background-color: darkorange;
  border-radius: 30%;

  display: inline-block;
}

.circle + .circle {
  margin-left: 20px;
}

.text {
  text-indent: 2em;
  color: brown;
}

.text ~ p {
  color: blue;
  font-weight: bolder;
} /*один уровень вложенности*/
