/* ПСЕВДОКЛАССЫ */
* {
  box-sizing: border-box;
}

:root {
  font-size: 40px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-size: 0;
}

li {
  display: inline-block;
  color: white;
  font-family: sans-serif;
}

a.navLink {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.5rem;
  color: inherit;
  display: inline-block;
  text-align: center;
  padding: 20px;
  min-width: 150px;
  width: 100%;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 2px solid darkslategray;

  background: cadetblue;
}

a.navLink:focus {
  outline-width: 10px;
}
/* 
a.navLink:link {
} */

a.navLink:visited {
  background-color: darkslategray;
}

article > h2 ~ span.main {
  border: 3px solid green;
} /*Для всех span с классом main, которые являются соседями с h2, которые являются дочерними элем. article */

/* 
px
%
em, rem
vh, vm, vmin, vmax
*/
