/* ПСЕВДОКЛАССЫ */
* {
  box-sizing: border-box;
}
:root {
  font-size: 32px;
  --test-elem-size: 200px;
} /*корневой элемент всего документа*/

.test {
  height: var(--test-elem-size);
  width: var(--test-elem-size);
  display: inline-block;

  background: burlywood;
}

.test:active {
  border: 4px solid orange;
  cursor: grabbing;
} /* пкм*/

.test:focus {
  outline-color: red;
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 6px;
}

.test:hover {
  /* --test-elem-size: 400px; */
  background-color: cadetblue;
  cursor: grab;
} /*событийный, отрабатывает при наведени курсора мыши на элем*/

.test2 {
  height: var(--test-elem-size);
  width: var(--test-elem-size);
  background-color: burlywood;
}

.test2:hover {
  --test-elem-size: 10px;
}

/* cursor (check in mdn )*/

button {
  cursor: pointer;
}

.test + .test {
  margin-top: 10px;
}
